.main {
	position: fixed;
	top: 7.2rem;
	left: 150px;

	width: calc(100vw - 150px);
	height: calc(100vh - 7.2rem);
	padding: 1rem;
}

.box {
	/* background-color: var(--color-background-500); */
	border-radius: 0.7rem;
	position: relative;
}

.btn-toggle {
	position: fixed;
	top: 7.6rem;
	right: 1.6rem;

	height: 3rem;
	aspect-ratio: 1;
	border-radius: 50%;
	border: none;
	background-color: var(--color-primary);
	color: var(--color-text);
	font-size: 2.3rem;
	font-weight: bold;

	cursor: pointer;
	z-index: 999;
}

/* Movie Card */

.list {
	position: relative;
	display: flex;
	font-size: 1.6rem;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2.4rem;

	list-style: none;
	padding: 1.5rem;
}

.list li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--color-background-100);
	border-radius: 0.7rem;
	font-size: 1.6rem;

	border-bottom: 1px solid var(--color-background-100);
}

.list img {
	width: 100%;
	border-top-right-radius: 0.7rem;
	border-top-left-radius: 0.7rem;
}

.list div {
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.list h3 {
	font-size: 1.8rem;
}

.list p {
	display: flex;
	align-items: center;
	gap: 15rem;
}

/* Detail card */

.detail__box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;

	width: 80%;
	height: 80%;

	background-color: var(--color-background-100);
	display: flex;
	gap: 2.4rem;
}

.detail__box img {
	width: 50%;
	height: 100%;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}

.title {
	font-size: 3rem;
	font-weight: 900;
	text-transform: capitalize;
}

.rate__release {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.release {
	font-size: 1.6rem;
	font-weight: 700;
}

.rating {
	font-weight: 1.6rem;
	font-weight: 600;
	color: var(--color-text-light);
}

.story {
	padding-right: 1rem;
	width: 100%;
	font-weight: 1.6rem;
	font-weight: 600;
	color: var(--color-text-light);
	text-transform: capitalize;
	line-height: 1.6rem;
}

.casts {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.casts span {
	font-size: 1.2rem;
	font-weight: 500;
}

.close {
	display: flex;
	flex-direction: column;
	font-size: 3rem;
	font-weight: 600;

	width: 4rem;
	justify-content: flex-start;
}

.close p {
	cursor: pointer;
}
