.main {
	position: fixed;
	top: 7.2rem;
	left: 150px;

	width: calc(100vw - 150px);
	height: calc(100vh - 7.2rem);
	padding: 1rem;
}

.header {
	margin: 1.5rem 1rem;
	font-size: 3rem;
	font-weight: 600;
}

.header span {
	text-transform: capitalize;
	color: var(--color-red);
	font-weight: 700;
	font-size: 3.5rem;
}

.box {
	/* background-color: var(--color-background-500); */
	border-radius: 0.7rem;
	position: relative;
}

.btn-toggle {
	position: fixed;
	top: 7.6rem;
	right: 1.6rem;

	height: 3rem;
	width: 3rem;
	border: none;
	background-color: var(--color-primary);
	color: var(--color-text);
	font-size: 3rem;
	font-weight: bold;

	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader,
.error {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20% 40%;
}

.loader h1 {
	font-size: 3rem;
	color: var(--color-primary);
	text-transform: capitalize;
	animation: loading linear infinite;
	animation-duration: 1s;
}

@keyframes loading {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
}

.error p {
	font-size: 2rem;
	font-weight: 600;
	color: var(--color-red-light);
	text-transform: capitalize;
}

.result__list {
	display: flex;
	font-size: 1.6rem;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 5rem;

	list-style: none;
	padding: 1.5rem;
}
