.app__detail-overlay {
	display: flex;
	align-items: center;
	justify-content: center;

	backdrop-filter: blur(1px);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.detail__box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;

	width: 70vw;
	height: 80vh;

	background-color: var(--color-background-500);
	border-radius: 0.7rem;
	border: 0.3px solid var(--color-primary-light);
	display: flex;
	gap: 2.4rem;
}

.detail__box img {
	width: 50%;
	height: 100%;

	border-top-left-radius: 0.7rem;
	border-bottom-left-radius: 0.7rem;
}

.about {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1rem 0rem 2rem 0rem;

	font-size: 1.4rem;
	color: var(--color-text-dark);
	font-weight: 500;
}

.title {
	font-size: 4rem;
	font-weight: 700;
	text-transform: capitalize;
}

.rate__release {
	display: flex;
	justify-content: space-between;
}

.story {
	padding-right: 1rem;
	width: 100%;
	height: 100px;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2.7rem;
	overflow: auto;
}

.story::-webkit-scrollbar {
	display: none;
}

.genres {
	display: flex;
	gap: 1.5rem;
	font-size: 2rem;
	font-weight: 700;

	text-transform: capitalize;
}

.close {
	display: flex;
	flex-direction: column;
	font-size: 3rem;
	font-weight: 600;

	width: 4rem;
	justify-content: flex-start;
	margin-right: 1rem;
}

.close p {
	cursor: pointer;
}

/* rating stars */

.app__rating {
	height: 25%;
	display: flex;
	flex-direction: column;
	gap: 1.4rem;

	margin-top: 1rem;
}

.app__rating p {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--color-text-dark);
}

.app__rating-stars {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	padding: 0rem 2rem;
}

.app__rating-stars p {
	font-size: 2rem;
	font-weight: 500;
	color: var(--color-text);

	margin-left: 1rem;
	transition: 0.3s;
}

.app__rating-stars span {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.app__watch {
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
}

.app__watch button {
	background-color: var(--color-red);
	border: none;
	border-radius: 0.7rem;
	outline: none;
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--color-text);
	padding: 1rem 2rem;
}
