.app__home {
	position: fixed;
	top: 7.2rem;
	left: 150px;
	height: 100vh;

	width: 89%;
	margin: 1rem 1rem 3rem 1rem;
	padding-bottom: 5rem;
}

.app__playing-bg {
	position: relative;
	width: 100%;
	height: 550px;

	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0.3;
}

.app__playing-about {
	position: absolute;
	top: 6rem;
	left: 7rem;
	width: 60%;
	height: 55vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.about__title {
	align-self: flex-start;
	font-size: 4rem;
}

.about__detail {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.release__rate {
	display: flex;
	gap: 4rem;

	font-size: 2rem;
	font-weight: 700;
}

.genre {
	display: flex;
	gap: 1.5rem;
	font-size: 2rem;
	font-weight: 700;

	text-transform: capitalize;
}

.plot {
	display: flex;
	align-items: center;

	width: 500px;
	height: 150px;
	font-size: 2rem;
	font-weight: 400;
	text-transform: capitalize;

	overflow: auto;
}

.plot::-webkit-scrollbar {
	display: none;
}

.tagline {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: var(--color-text-dark);
	font-size: 1.5rem;
	font-weight: 800;
}

.tagline span {
	font-size: 2.4rem;
	color: var(--color-primary);
}

button {
	align-self: flex-start;
	background-color: var(--color-red);
	border: none;
	border-radius: 0.7rem;
	outline: none;
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--color-text);
	padding: 1rem 2rem;
}

/* scrolling movie poster list */

.app__playing-movies {
	position: absolute;
	right: 0;
	top: 30vh;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	overflow-x: scroll;
}

.app__playing-movies::-webkit-scrollbar {
	display: none;
}

.Playing__list {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.Playing__list li {
	display: flex;
	align-items: center;
	background-color: var(--color-primary);
	width: 150px;
	height: 300px;
	border-radius: 1rem;
}

.Playing__list li img {
	border-radius: 1rem;
	width: 100%;
	height: 100%;
	transition: 0.3s;
}

.Playing__list li img:hover {
	opacity: 0.85;
}

/* trending */
.app__trending {
	margin: 5rem 0rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 3rem;
}

.app__trending-list {
	border-radius: 1rem;
	display: flex;
	white-space: nowrap;
	gap: 2rem;

	list-style: none;
	padding: 1.5rem;
	overflow-x: scroll;
}

.app__trending-list::-webkit-scrollbar {
	display: none;
}

.app__trending-list li {
	min-width: 293px;
	max-width: 293px;
}

@media screen and (max-width: 1300px) {
	.app__playing-about {
		top: 4rem;
		width: 100%;
	}

	.app__playing-movies {
		width: 39%;
	}
}

@media screen and (max-width: 1050px) {
	.app__home {
		left: 0;

		width: 100%;
		margin: 0rem;
	}

	.app__playing-bg {
		height: 450px;
	}

	.app__playing-about {
		left: 5rem;
		width: 100%;
		height: 310px;
	}

	.about__title {
		font-size: 3rem;
	}

	.about__detail {
		margin-top: 1rem;
		gap: 1rem;
	}

	.release__rate {
		font-size: 1.6rem;
		font-weight: 600;
	}

	.genre {
		font-size: 1.8rem;
		font-weight: 500;
	}

	.plot {
		width: 80%;
		height: 100px;
		font-size: 1.7rem;
	}

	.app__playing-movies {
		top: 270px;
		width: 60%;
	}

	.Playing__list li {
		width: 150px;
		height: 250px;
		border-radius: 1rem;
	}
}

@media screen and (max-width: 900px) {
	.app__playing-about {
		left: 3rem;
	}
	.app__playing-movies {
		top: 390px;
		width: 95%;
	}
}

@media screen and (max-width: 767px) {
	.app__playing-about {
		top: 2rem;
		left: 2rem;
		height: 42vh;
	}

	.about__title {
		font-size: 2rem;
	}

	.genre {
		font-size: 1.5rem;
	}

	.plot {
		width: 90%;
		height: 130px;
		font-size: 1.5rem;
	}

	.app__playing-movies {
		top: 390px;
	}
}

@media screen and (max-width: 400px) {
	.release__rate {
		gap: 1.2rem;
	}
}
