.app__sidebar {
	position: fixed;
	top: 7.2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	background: var(--color-background-500);

	height: calc(100vh - 75px);
}

.app__small-sidebar {
	position: absolute;
	background: var(--color-primary);
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-top: 8rem;

	z-index: 998;
}

.app__sidebar-logo {
	position: fixed;
	top: 3%;
	left: 3%;
	width: 100px;
	height: 70px;
	z-index: 999;
}

.app__sidebar-logo img {
	border-radius: 10rem;
	width: 100%;
	height: 100%;
}

.app__sidebar {
	width: 150px;
}

.app__sidebar-icon {
	position: fixed;
	bottom: 3%;
	right: 5%;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--color-primary-light);
	border-radius: 0.7rem;

	width: 4rem;
	height: 3rem;
	padding: 0.5rem;
	margin-left: 15px;

	z-index: 999;
}

.app__sidebar-icon_svg {
	font-size: 3rem;
}

.app__sidebar-icon_svg-small {
	font-size: 1rem;
}

.app__sidebar-genre,
.app__sidebar-language {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 1.5rem 0 1.5rem 1rem;
}

.app__sidebar-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.app__sidebar-links .link {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin: 1rem 0 0 1.5rem;

	text-decoration: none;
	color: var(--color-text-dark);
	font-size: 1.3rem;
}

.app__sidebar-links .link:hover {
	color: var(--color-text);
}

.selected {
	color: var(--color-red);

	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin: 1rem 0 0 1.5rem;

	text-decoration: none;
	font-size: 1.3rem;
}

.app__sidebar-divider {
	margin: 2rem;
}

.app__sidebar-copyright p {
	padding: 2rem;
	font-family: "Courier New", Courier, monospace;
	font-weight: 600;
	font-size: 1.6rem;

	color: var(--color-text-dark);
}

@media screen and (max-width: 1050px) {
	.app__sidebar {
		display: none;
	}

	.app__sidebar-icon {
		display: flex;
	}
}

@media screen and (min-width: 1050px) {
	.app__small-sidebar {
		display: none;
	}
	.app__sidebar-icon {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	.app__small-sidebar::-webkit-scrollbar {
		display: none;
	}
	.app__navbar-btn {
		display: none;
	}
}
