:root {
	--color-primary: #6741d9;
	--color-primary-light: #7950f2;
	--color-text: #dee2e6;
	--color-text-dark: #adb5bd;
	--color-background-100: #343a40;
	--color-background-500: #2b3035;
	--color-background-900: #212529;
	--color-red: #fa5252;
	--color-red-dark: #e03131;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	color: var(--color-text);
	background-color: var(--color-background-900);
}

/* constants */

.p__subtopic {
	font-size: 2rem;
	font-weight: 600;
	color: var(--color-text);
	text-transform: capitalize;
}

/* scrollbars */

.app__scrollbar-v {
	overflow-x: hidden;
	overflow-y: scroll;
}

.app__scrollbar-v::-webkit-scrollbar {
	background-color: transparent;
	width: 12px;
}

.app__scrollbar-v::-webkit-scrollbar-thumb {
	background-color: var(--color-background-100);
	border-radius: 20px;
	height: 3rem;
}

/* hover */

.hover:hover {
	transform: translateY(-2px);
	box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
}

/* **Main** */

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/

/*
FULL STAR

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 20 20"
  fill="#000"
  stroke="#000"
>
  <path
    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
  />
</svg>


EMPTY STAR

<svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
  stroke="#000"
>
  <path
    strokeLinecap="round"
    strokeLinejoin="round"
    strokeWidth="{2}"
    d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"
  />
</svg>

*/
